.search-navbar {
    margin-bottom: 25px;
}

.result-container {
    margin-bottom: 100px;
}

.date-col {
    min-width: 120px;
}

.search-navigation {
    text-align: center;
}

.search-navigation__btn {
    margin: 0 10px;
}

.footer {
    display: block;
    height: 50px;
    width: 100%;
    background-color: #343a40;
}